

  
.image-details-dialog {
    
   
 
    height: 80vh;
    width: 70vw;
    display: flex;
    overflow-x: none;

    .image-header {
      text-align: center;
  
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        margin-bottom: 15px;
      }
  
      h2 {
        margin: 10px 0;
        font-size: 1.5em;
        color: rgb(255, 255, 255);
      }
  
      p {
        font-size: 1em;
        color: rgb(255, 255, 255);
      }
    }
  
    .comments-section {
      margin-top: 20px;
      margin: 15px;
      width: 100%;
     
      h4 {
        font-size: 1.2em;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
      }

    }
  }
  


  .image_container {
    background-color: #000000;
    background-image: linear-gradient(351deg, #30303036 0%, #6969698a 84%);
    // filter: blur(8px);
    width: 50vw;
    height: auto;
    padding-bottom: 60px;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    display: flex;

    h2{
      color: #ffffff;
      margin-top: 5px;
    }
  }

  .comment {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px; 
    min-height: 100px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 25px;
    max-width: 50vw;
  
  }
  
  .comment_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;  // Makes the image rounded
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  // Adds a light grey shadow
    object-fit: cover;  // Ensures the image covers the area without stretching
  }

  .comment_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
   
    h3{
      
      margin-left: 17px;
      color: #575757;
      
    }
    p{
      a {
        img {
        display: none !important; 
      }
    }
    }
  }

  #comment_text{
    margin-left: 25px  ;
    a {
      img {
      display: none !important; 
    }
  }
   }

   .right-container {
    padding: 10px;
    margin-left: 10px;
    .description {
     
      .no-description {
        color: grey;
      }
    }
  
    .info-sections {
      display: flex;
      justify-content: space-evenly;
      margin-top: 15px;
  
      .section {
        display: flex;
        align-items: center;
        margin: 2px;
        margin-right: 10px;
  
        mat-icon {
          margin-right: 5px;
        }

        .views-icon {
          color: blue; 
        }
    
        .favorites{
          color: rgb(53, 12, 63)(255, 0, 242); 
        }
    
        .comments-icon {
          color: green; 
        }
      }
    }
  
    .post-date {
      margin-top: 15px;
      
    }
  }