div {
    position: relative;
    overflow: hidden; 

    text-align: center;
  }
  
  img {

    height: 220px;
    border-radius: 8px;
    transition: transform 0.3s ease-out; 
  }
  
  div:hover img {
    transform: scale(1.1); 
  }
  
  h3, p {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #fff; 
    opacity: 0; 
    transition: opacity 0.3s ;
  }
  
  div:hover h3, div:hover p {
    opacity: 1;
    
  }
  @keyframes growAnimation {
    from {
      transform: scale(0); 
    }
    to {
      transform: scale(1); 
    }
  }
  
  .image-container {
    overflow: hidden;
    animation: growAnimation 0.5s ease-in-out;
    margin: 5px; 
  }

  .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); 
    transition: background 0.2s ease-out; 
   
    z-index: 1; 
  }
  

  .image-container:hover::before {
    background: rgba(0, 0, 0, 0.5); 
  }
  

  h3, p {
    
    z-index: 2;
  }