div {
    position: relative; /* Position relative for absolute positioning of text */
    overflow: hidden; /* Hide overflow for vignette effect */

    text-align: center;
  }
  
  img {

    height: 220px;
    border-radius: 8px;
    transition: transform 0.3s ease-out; /* Add a smooth transition effect for transform */
  }
  
  div:hover img {
    transform: scale(1.1); /* Increase scale on hover for a slight zoom effect */
  }
  
  h3, p {
    position: absolute; /* Position absolutely within the relative container */
    top: 50%; /* Position at the vertical center of the container */
    left: 50%; /* Position at the horizontal center of the container */
    transform: translate(-50%, -50%); /* Center the text */
    color: #fff; /* Set text color to white */
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s ; /* Add a smooth transition effect for opacity */
  }
  
  div:hover h3, div:hover p {
    opacity: 1; /* Show the text on hover */
    
  }
  @keyframes growAnimation {
    from {
      transform: scale(0); /* Start with no size (scaled to 0) */
    }
    to {
      transform: scale(1); /* Grow to normal size (scaled to 1) */
    }
  }
  
  .image-container {
    overflow: hidden;
    animation: growAnimation 0.5s ease-in-out;
    margin: 5px; /* Apply the animation to the container */
  }