.app_container {
  display: flex;
  flex-direction: column; /* Ensure flex items are stacked vertically */
  align-items: center; /* Align items in the center horizontally */
  justify-content: center; /* Align items at the top of the container */
  min-height: 100vh;
  background-color: rgb(160, 160, 160);
  overflow: hidden;
  }

  .fly-container {
    position: static;
  
    overflow: hidden;
  }
  
  .flying-image {
    position: absolute;
    /* Your other styling */
    animation: flyAnimation 3s linear infinite;
    animation-fill-mode: forwards;

  }
  img{
    width: 20%;
    height: 225px;
  }
  @keyframes flyAnimation {
    0% {
      left: 0;
      top: -50%;
    }
    25% {
      left: 50%;
      top: 0;
    }
    50% {
      left: 100%;
      top: 50%;
    }
    75% {
      left: 50%;
      top: 100%;
    }
    100% {
      left: 0;
      top: 50%;
    }
  }
  .flying-image {
    animation: flyAnimation 3s linear 0s infinite, delayAnimation 1s linear 2s infinite;
  }
  