<div class="main-container"> 


  <div   class="app_container">
    <div >

      <div class="header-container" >
        
    
    
          <app-search-bar (searchData)="onSearchData($event)"></app-search-bar>
    
    
    
    </div>
        
    </div>

  
    <div>
      <app-gallery [data]="searchData"></app-gallery>
    </div>
  </div>





  
  <!-- <div class="fly-container"> -->

    <!-- <img [style.top.px]="topPosition" [style.left.px]="leftPosition" src="https://i.pinimg.com/1200x/84/cd/28/84cd28bf76d7aeede1584f57828fb3e9.jpg" class="flying-image" (animationiteration)="onAnimationIteration()"> -->
  <!-- </div> -->
  
  

</div>
